.home{
    position: relative;
    background-color: #FFAD0D;
    height: 96vh;

}
.loginMain{
    padding-top: 130px;
}
.pic{
    width: 200px;
}
#dropdownMenuButton1{
    padding-top: 20px;
    background-color: transparent;
    color: #FFAD0D;
    border:none;
}
.date{
  padding-top: 30px;
  border: none;
  border-bottom: 1px solid #FFAD0D;
  border-top: 0px;
  border-radius: 0px;
  outline: 0;
  margin-bottom: 20px;
  padding-left: 0px;
  color: black;
  width: 300px;
  font-size: 16px;
}
.email{
  padding-top: 30px;
  border: none;
  border-bottom: 1px solid #FFAD0D;
  border-top: 0px;
  border-radius: 0px;
  outline: 0;
  margin-bottom: 20px;
  padding-left: 0px;
  color: black;
  width: 300px;
  font-size: 16px;
}

.text{
    padding-top: 30px;
    border: none;
    border-bottom: 1px solid #FFAD0D;
    border-top: 0px;
    border-radius: 0px;
    outline: 0;
    margin-bottom: 20px;
    padding-left: 0px;
    color: black;
    width: 300px;
    font-size: 16px;
}

.password{
    border: none;
    border-bottom: 1px solid #FFAD0D;
    border-top: 0px;
    border-radius: 0px;
    outline: 0;
    padding-left: 0px;
    margin-bottom: 20px;
    color: black;
    width: 300px;
    font-size: 16px;
}
.sButton{
    width: 100px;
    height: 30px;
    border-radius: 10px;
    background-color: #FFAD0D;
    color: white;
    border: #FFAD0D;
}
.sButton:hover{
    background-color: white;
    color: #FFAD0D;
    border-style:solid;
}
#color{
    position: relative;
    background-color: #FFAD0D;
    width: 20%;
    height: 100vh;
    float: left;
    animation-name:ajay;
    animation-duration: 1.5s;
    animation-direction: alternate;
}
@media screen and (max-width: 935px) {
    #color{
      width: 0%;
    }
    @keyframes ajay{
        from{width: 100%;}
        to{width: 0%;}
        }
 }
  @media screen and (min-width: 935px) {
    #color{
      width: 20%;
    }
    @keyframes ajay{
        from{width: 100%;}
        to{width: 20%;}
        }
  }
  #colorReg{
      position: relative;
      background-color: #FFAD0D;
      width: 20%;
      height: 145vh;
      float: left;
      animation-name:patientReg;
      animation-duration: 1.5s;
      animation-direction: alternate;
  }
  @media screen and (max-width: 935px) {
      #colorReg{
        display: none;
      }
    }
    @media screen and (min-width: 935px) {
      #colorReg{
        width: 20%;
      }
    }
.popText{
  color: #4F4F4F;
  font-size: 15px;
  padding-left: 20px;
}
.popInputText{
  background-color: #FEE5A0;
  border: none;
  border-radius: 5px;
  width: 190px;
  font-size: 14px;
  height: 28px;
  padding-left: 5px;
}